<button
  class="btn btn-primary float-right"
  (click)="showCohorts = !showCohorts"
>
  Show Cohorts
</button>
<div name="cohortsDiv" *ngIf="showCohorts">
  <span>
    <button
      class="btn btn-success float-right"
      (click)="showAddForm = !showAddForm">
      Add New Cohort
    </button>
    <br>
  </span>
  <br>
  <span *ngIf="showAddForm" class="float-right">
    <form #cohort="ngForm" id="cohortCreate">
      <input type="text" name="name" ngModel placeholder="Cohort Name" /><label>Begin: </label>
      <input
        type="date"
        name="startDate"
        ngModel
        placeholder="Start Date"
      /><label>End: </label>
      <input type="date" name="endDate" ngModel placeholder="End Date" />
      <br />

      <button class="btn btn-success float-right" (click)="createCohort(cohort)">
        Create Cohort
      </button>
    </form></span
  >
    <div class="text-center"><strong><h2>Cohorts</h2></strong></div>
  <table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Name</th>
        <th>Deadline Date</th>
        <th>Days Left</th>
        <th>Edit Cohort</th>
      </tr>
    </thead>

    <tbody class="table table-hover">
      <tr *ngFor="let cohort of cohorts">
        <td (click)="listStudents(cohort)">{{ cohort.id }}</td>
        <td (click)="listStudents(cohort)">{{ cohort.startDate | date }}</td>
        <td (click)="listStudents(cohort)">{{ cohort.endDate | date }}</td>
        <td (click)="listStudents(cohort)">{{ cohort.name }}</td>
        <td (click)="listStudents(cohort)">{{ deadline(cohort) | date }}</td>
        <td (click)="listStudents(cohort)">
          {{ daysLeft() | number: "1.0-0" }}
        </td>
        <td>
          <button class="btn btn-warning" (click)="openModalForm(cohort)">
            Edit Cohort
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <table
    name="studentsTable"
    class="table table-striped table-bordered table-sm"
    *ngIf="listStudentsBool"
  >
    <thead class="thead-dark">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>7 Day App Count</th>
      </tr>
    </thead>
    <tbody class="table table-hover">
      <tr *ngFor="let student of students" (click)="showProfile(student.id)">
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.email }}</td>
        <td [ngClass]="student.progCheck < 50 ? 'lowCount' : 'meetsStandards'">
          {{ student.progCheck }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
    <div class="col-4">
  <table>
    <tr>
      <td>
        <div *ngIf="showStudent">
          <td>
            Student Information
            <button class="btn btn-primary" (click)="clearProfile()">Back</button>
          </td>
          <ul>
            <!-- <li> Id : {{editStudent.d}} </li> -->
            <li>
              Name : {{ showStudent.firstName }} {{ showStudent.lastName }}
            </li>
            <li>Github : {{ showStudent.githubUsername }}</li>
            <li>Cohort : {{ showStudent.cohort.id }}</li>
            <li>Email : {{ showStudent.email }}</li>
            <li>Accepted : {{ showStudent.accepted }}</li>
            <li>Employed : {{ showStudent.employed }}</li>
            <li>Deposit Paid : {{ showStudent.depositPaid }}</li>
            <li>GI Bill : {{ showStudent.gibill }}</li>
            <li>VETTEC : {{ showStudent.vettec }}</li>
            <li>Needs Loaner : {{ showStudent.needsLoanerLaptop }}</li>
            <li>Open to Relocation : {{ showStudent.openToRelocation }}</li>
            <li>
              Address
            </li>
            <li *ngFor="let address of showStudent.address">
              {{ address.addressType }} : {{ address.street }} ,
              {{ address.city }} , {{ address.state }} {{ address.zipcode }}
            </li>
            <br />
            <button class="btn btn-warning" (click)="setEditStudent()">
              Update Personal Information
            </button>
            <br />
          </ul>
        </div>
      </td>

    </tr>
  </table>
  </div>
  <div class="col-8">
      <div *ngIf="showStudent">
<!-- update form -->
<div *ngIf='upStudent'>
    <form>
      <ul>
        <br>
         <li> <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="upStudent.firstName"></li>
        <li> <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="upStudent.lastName"></li>
        <li> <input type="text" name="email" placeholder="Email" [(ngModel)]="upStudent.email"></li>
        <li> <input type="text" name="githubUsername" placeholder="GitHub" [(ngModel)]="upStudent.githubUsername"></li>
        <li> <input type="text" name="EducationLevel" placeholder="Education" [(ngModel)]="upStudent.educationLevel"></li>
        <li> <input type="text" name="Clearance" placeholder="Clearance" [(ngModel)]="upStudent.clearance"></li>
        <li> Employed: <input type="checkbox" name="Employed" [(ngModel)]="upStudent.employed"></li>
        <li> Accepted: <input type="checkbox" name="Accepted" [(ngModel)]="upStudent.accepted"></li>
        <li> GiBill: <input type="checkbox" name="GiBill" [(ngModel)]="upStudent.gibill"></li>
        <li> Vettec: <input type="checkbox" name="Vettec" [(ngModel)]="upStudent.vettec"></li>
        <li> Deposit Paid: <input type="checkbox" name="DepositPaod" [(ngModel)]="upStudent.depositPaid"></li>
        <li> Needs Loaner Laptop: <input type="checkbox" name="Needs Loaner Laptop"
          [(ngModel)]="upStudent.needsLoanerLaptop"></li>
          <li> Open to Relocation: <input type="checkbox" name="Open to Relocation"
            [(ngModel)]="upStudent.openToRelocation"></li>

            <button (click)="updateStudent()"> Confirm Update</button>
            <button (click)='cancelEditStudent()'>  Cancel</button>
    </ul>
  </form>
</div>

          <app-admin-statistics *ngIf="!upStudent" [student]="showStudent"></app-admin-statistics>
        </div>
  </div>
</div>

<!-- selected student apps -->
<div *ngIf="showStudent">
    <table class="table table-striped table-hover" >
      <thead class="thead thead-dark">
        <th>Application ID</th>
        <th>Company</th>
        <th>Location</th>
        <th>Position</th>
        <th>Job Description</th>
        <th>Interest Level</th>
            <th>Applied</th>
            <th>Phone/Video</th>
            <th>In-Person</th>
            <th>Offer</th>
            <th>Accepted</th>
            <!-- <th>Progress</th> -->
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let app of apps">
              <td>{{ app.id }}</td>
              <td>{{ app.company.name }}</td>
          <td>{{ app.company.companyLocations[app.company.companyLocations.length -1].city}},
            {{ app.company.companyLocations[app.company.companyLocations.length -1].state}}</td>
            <td>{{ app.position}}</td>
            <td>{{ app.descriptionURL}}</td>
            <td>{{ app.interestLevel}}</td>
            <td *ngFor="let prog of app.progressArray" [ngClass]=" prog != 'x' ? 'current': 'todo'" > </td>
            <!-- <td>{{ app.progress | json }}</td> -->
          </tr>
        </tbody>
      </table>
  </div>




  <app-cohort-update #modal [cohort]= cohort (childEvent)="reload()"></app-cohort-update>
