
.current {
  background-color: green;
}

.todo {
  background-color: darkgray;
}

.add-btn {
  width: 80%;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.table-container {
  margin: 0 7%;
}

