<div class="table-container">
  <button type="button" class="add-btn btn btn-success btn-lg btn-block" (click)="openModalForm()">Add Application</button>
  <table class="table table-sm table-bordered table-striped table-hover" >
    <thead class="thead thead-dark">
      <th>Company</th>
      <th>Location</th>
      <th>Position</th>
      <th>Job Description</th>
      <th>Interest Level</th>
        <th width="100" class="text-center">Applied</th>
        <th width="100" class="text-center">Phone/Video</th>
        <th width="100" class="text-center">In-Person</th>
        <th width="100" class="text-center">Offer</th>
        <th width="100" class="text-center">Accepted</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let app of apps">
        <td>{{ app.company.name }}</td>
        <td>{{ app.company.companyLocations[app.company.companyLocations.length -1].city}},
           {{ app.company.companyLocations[app.company.companyLocations.length -1].state}}</td>
        <td>{{ app.position}}</td>
        <td>{{ app.descriptionURL}}</td>
        <td class="text-center">{{ app.interestLevel}}</td>
        <td *ngFor="let prog of app.progressArray" [ngClass]=" prog != 'x' ? 'current': 'todo'" (click)="setProgress(prog, app)"> </td>
        <td class="btn-td text-center"><button class="btn btn-primary" (click)="openModalForm(app)">Update</button></td>
      </tr>
    </tbody>
  </table>
</div>

<app-form-modal #modal [student] = student (childEvent)="refreshApps()"></app-form-modal>
