<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Cohort</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #editForm = "ngForm">
      <table>
        <tr>
          <td>Cohort Name</td><td><input type="text" name="name" [(ngModel)]="cohort.name"></td>
        </tr>
        <tr>
          <td>Start Date:</td><td><input type="date" name="startDate" [(ngModel)]="cohort.startDate"></td>
        </tr>
        <tr>
          <td>End Date:</td><td><input type="date" name="endDate" [(ngModel)]="cohort.endDate"></td>
        </tr>
      </table>
  </form>
</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close(); updateCohort();" *ngIf="!isUpdate">Update</button>
  </div>

</ng-template>

